workflows/active/Contact_Created_Brain_Engine__57VOr1qmDwdO2mZj.json
{
  "updatedAt": "2026-04-27T19:38:17.419Z",
  "createdAt": "2026-04-06T16:23:54.248Z",
  "id": "57VOr1qmDwdO2mZj",
  "name": "\u2600\ufe0f Contact Created -> Brain Engine",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "intake-lead",
        "authentication": "headerAuth",
        "options": {}
      },
      "id": "2f390172-ce72-4b33-b137-57ca82f24777",
      "name": "GHL Intake Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1040,
        424
      ],
      "webhookId": "7266a9be-350d-4de8-a315-47c7df7851e9",
      "credentials": "[REDACTED]"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\n\nconst hasPhone = !!(body.phone && body.phone.trim() !== '');\nconst hasEmail = !!(body.email && body.email.trim() !== '');\n\n// Email first for intro, SMS fallback if no email\nlet channel = 'none';\nif (hasEmail) channel = 'email';\nelse if (hasPhone) channel = 'sms';\n\nconst rawTags = body.tags;\nlet tags = [];\nif (rawTags && typeof rawTags === 'string' && rawTags.trim()) {\n  tags = rawTags.split(',').map(t => t.trim()).filter(Boolean);\n} else if (Array.isArray\u2026[TRUNCATED]"
      },
      "id": "b6126301-f41c-4d6a-93bd-900907a6fa7a",
      "name": "Prepare Lead Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -816,
        424
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "leads",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "contact_id",
              "condition": "eq",
              "keyValue": "={{ $json.contact_id }}"
            }
          ]
        }
      },
      "id": "ccf5f9f2-1a09-4631-b547-b5bbf49df551",
      "name": "Check Lead Exists",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -592,
        424
      ],
      "alwaysOutputData": true,
      "credentials": "[REDACTED]"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst leadData = $('Prepare Lead Data').first().json;\n\nconst found = items.length > 0 && items[0].json && items[0].json.contact_id;\n\nif (found) {\n  return [{\n    json: {\n      exists: true,\n      lead_db_id: items[0].json.id,\n      ...leadData\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    exists: false,\n    ...leadData\n  }\n}];"
      },
      "id": "05017c28-b06b-4d4c-8a05-e4f80f099598",
      "name": "Process Check Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -368,
        424
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "exists-check",
              "leftValue": "={{ $json.exists }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3094db66-d78d-4447-890b-32327311141e",
      "name": "Lead Already Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -144,
        424
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "leads",
        "filters": {
          "conditions": [
            {
              "keyName": "contact_id",
              "condition": "eq",
              "keyValue": "={{ $json.contact_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "first_name",
              "fieldValue": "={{ $json.first_name }}"
            },
            {
              "fieldId": "last_name",
              "fieldValue": "={{ $json.last_name }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $json.email }}"
            },
            {
              "fieldId": "phone",
              "fieldValue": "={{ $json.phone }}"
            },
            {
              "fieldId": "city",
              "fieldValue": "={{ $json.city }}"
            },
            {
              "fieldId": "state",
              "fieldValue": "={{ $json.state }}"
            },
            {
              "fieldId": "lead_source",
              "fieldValue": "={{ $json.lead_source }}"
            }
          ]
        }
      },
      "id": "936de97c-de60-45ed-a4c6-27963c3fb4cc",
      "name": "Enrich Existing Lead",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        80,
        328
      ],
      "credentials": "[REDACTED]"
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "leads",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "contact_id",
              "fieldValue": "={{ $json.contact_id }}"
            },
            {
              "fieldId": "location_id",
              "fieldValue": "={{ $json.location_id }}"
            },
            {
              "fieldId": "first_name",
              "fieldValue": "={{ $json.first_name }}"
            },
            {
              "fieldId": "last_name",
              "fieldValue": "={{ $json.last_name }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $json.email }}"
            },
            {
              "fieldId": "phone",
              "fieldValue": "={{ $json.phone }}"
            },
            {
              "fieldId": "city",
              "fieldValue": "={{ $json.city }}"
            },
            {
              "fieldId": "state",
              "fieldValue": "={{ $json.state }}"
            },
            {
              "fieldId": "address",
              "fieldValue": "={{ $json.address }}"
            },
            {
              "fieldId": "postal_code",
              "fieldValue": "={{ $json.postal_code }}"
            },
            {
              "fieldId": "lead_source",
              "fieldValue": "={{ $json.lead_source }}"
            },
            {
              "fieldId": "channel",
              "fieldValue": "={{ $json.channel }}"
            },
            {
              "fieldId": "pipeline_state",
              "fieldValue": "cold"
            },
            {
              "fieldId": "pipeline_stage",
              "fieldValue": "MONTHLY"
            },
            {
              "fieldId": "status",
              "fieldValue": "active_conversation"
            },
            {
              "fieldId": "market_role",
              "fieldValue": "={{ $json.market_role }}"
            },
            {
              "fieldId": "relationship_type",
              "fieldValue": "={{ $json.relationship_type }}"
            },
            {
              "fieldId": "short_summary_note",
              "fieldValue": "={{ $json.short_summary_note }}"
            },
            {
              "fieldId": "custom_fields",
              "fieldValue": "={{ $json.custom_fields }}"
            },
            {
              "fieldId": "ghl_tags",
              "fieldValue": "={{ $json.ghl_tags }}"
            },
            {
              "fieldId": "ghl_source",
              "fieldValue": "={{ $json.ghl_source }}"
            },
            {
              "fieldId": "ghl_source_other",
              "fieldValue": "={{ $json.ghl_source_other }}"
            },
            {
              "fieldId": "ghl_notes",
              "fieldValue": "={{ $json.ghl_notes }}"
            },
            {
              "fieldId": "next_outbound_due_at",
              "fieldValue": "={{ $now.plus({days: 28}).toUTC().toISO() }}"
            }
          ]
        }
      },
      "id": "13755891-42d4-4334-b541-71ec10285ea3",
      "name": "Insert New Lead",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        80,
        520
      ],
      "credentials": "[REDACTED]"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "sms-rule",
                    "leftValue": "={{ $json.channel }}",
                    "rightValue": "sms",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "sms"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "email-rule",
                    "leftValue": "={{ $json.channel }}",
                    "rightValue": "email",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "email"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "fda4fecb-49c9-417e-895c-e21c9bde492f",
                    "leftValue": "{{ $json.channel }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "No Contact Method"
            }
          ]
        },
        "options": {}
      },
      "id": "888b594f-9093-431b-85ef-5ec01d6c0446",
      "name": "Route by Channel",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1200,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/conversations/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "[REDACTED]",
              "value": "[REDACTED]"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"type\": \"SMS\", \"contactId\": \"{{ $json.contact_id }}\", \"locationId\": \"{{ $json.location_id }}\", \"message\": \"Hey {{ $json.first_name }}, my name is {{ $json.coordinator_name }} and I'm the newest member of {{ $json.agent_name }}'s real estate team. My job is to make sure everybody we work with is getting the attention they need.\\n\\nFeel free to reach out to {{ $json.agent_name.split(' ')[0] }} directly\u2026 But I'm here to help fill in the gaps.\\n\\nPlease don't hesitate to let me know if you need a\u2026[TRUNCATED]",
        "options": {}
      },
      "id": "f29ccc02-bb4e-43d7-b92d-ac635fbf1b74",
      "name": "Send Intro SMS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1424,
        224
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/conversations/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "[REDACTED]",
              "value": "[REDACTED]"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"type\": \"Email\", \"contactId\": \"{{ $json.contact_id }}\", \"locationId\": \"{{ $json.location_id }}\", \"subject\": \"Quick intro from {{ $json.coordinator_name }} - {{ $json.agent_name }}'s team\", \"emailFrom\": \"{{ $json.coordinator_name }} <{{ $json.coordinator_email }}>\", \"html\": \"<p>Hi {{ $json.first_name }},</p><p>I'm {{ $json.coordinator_name }}, part of {{ $json.agent_name }}'s real estate team. {{ $json.agent_name }} and I want to make sure you have a direct line to someone on the team if anyth\u2026[TRUNCATED]",
        "options": {}
      },
      "id": "661758df-474d-447a-9be6-f7f216a658dc",
      "name": "Send Intro Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1424,
        416
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $json.contact_id }}/tags",
        "authentication": "[REDACTED]",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{ \"tags\": [\"No Contact Method\"] }",
        "options": {}
      },
      "id": "c411c4ef-e497-4ee2-a80b-31c816d55ae5",
      "name": "Tag: No Contact Method",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1424,
        608
      ],
      "credentials": "[REDACTED]"
    },
    {
      "parameters": {
        "content": "## Trigger\nReceives new contact webhooks from a GHL automation when a contact is created. Works for single contacts and bulk spreadsheet imports.",
        "height": 338,
        "width": 280,
        "color": 5
      },
      "id": "c64788e9-4961-4a26-bc0e-857e0067f1c1",
      "name": "Note: Trigger",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1132,
        246
      ]
    },
    {
      "parameters": {
        "content": "## Prepare Lead Data\nNormalises the GHL payload and determines the default channel:\n- Has email -> Email (intro always goes email first)\n- No email + has phone -> SMS fallback\n- Neither -> none\n\nSets pipeline defaults: cold / MONTHLY."
      },
      "id": "53c437c2-4d97-4fde-b04b-beb74ed1bce6",
      "name": "Note: Prepare",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -864,
        144
      ]
    },
    {
      "parameters": {
        "content": "## Duplicate Check\nQueries Supabase for an existing lead by contact_id.\n\n- Found: enriches the record (name, email, phone, city, state, source) and stops. No intro sent again.\n- Not found: continues to insert as a new lead.",
        "height": 351,
        "width": 608,
        "color": 2
      },
      "id": "d8b5fb50-d004-4b9a-8d62-8ad3cb5f3dbb",
      "name": "Note: Duplicate Check",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -624,
        233
      ]
    },
    {
      "parameters": {
        "content": "## Write to Supabase\nNew lead: inserts full record with pipeline_state=cold, pipeline_stage=MONTHLY, status=active_conversation.\n\nExisting lead: updates contact info only. Pipeline and status are managed by the Brain Engine.",
        "height": 383,
        "width": 272,
        "color": 6
      },
      "id": "85d18df2-c879-4710-9b49-77deac564d03",
      "name": "Note: Write to DB",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -8,
        105
      ]
    },
    {
      "parameters": {
        "content": "## Channel Routing and Send\nRoutes the intro message for new leads only:\n- SMS (default) - sent if phone exists\n- Email (fallback) - sent if no phone\n- No Contact Method - tags lead in GHL and stops\n\nNOTE: SMS and Email nodes are placeholders. Add message content before activating.",
        "height": 696,
        "width": 916,
        "color": 4
      },
      "id": "2eb8e823-678c-4ecd-ab14-35b7c9bc4a08",
      "name": "Note: Channel Routing",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        454,
        88
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "agents",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "location_id",
              "condition": "eq",
              "keyValue": "={{ $json.location_id }}"
            }
          ]
        }
      },
      "id": "75cd7c46-fea3-4315-a4ab-ad36fda466c0",
      "name": "Get Agent Config",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        304,
        520
      ],
      "credentials": "[REDACTED]"
    },
    {
      "parameters": {
        "jsCode": "[REDACTED]"
      },
      "id": "ee0cbc22-7440-49b8-903c-bfaadec9f7b8",
      "name": "Merge Agent + Lead Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        520
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst timezone = data.timezone || 'America/Denver';\nconst now = $now.setZone(timezone);\nconst hour = now.hour;\nconst weekday = now.weekday;\nconst isWeekend = weekday >= 6;\nconst isWithinHours = hour >= 9 && hour < 20;\nconst withinHours = !isWeekend && isWithinHours;\n\nlet scheduledFor = now.toUTC().toISO();\nif (!withinHours) {\n  let target = now;\n  if (hour >= 20) {\n    target = target.plus({ days: 1 });\n  }\n  while (target.weekday >= 6) {\n    target = target.plu\u2026[TRUNCATED]"
      },
      "id": "bh-check-0001-0001-0001-000000000001",
      "name": "Business Hours Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        520
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "hours-check",
              "leftValue": "={{ $json.within_hours }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "bh-check-0002-0002-0002-000000000002",
      "name": "Within Business Hours?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        976,
        520
      ]
    },
    {
      "parameters": {
        "tableId": "contact_intake_queue",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "contact_id",
              "fieldValue": "={{ $json.contact_id }}"
            },
            {
              "fieldId": "location_id",
              "fieldValue": "={{ $json.location_id }}"
            },
            {
              "fieldId": "task_type",
              "fieldValue": "intro"
            },
            {
              "fieldId": "scheduled_for",
              "fieldValue": "={{ $json.scheduled_for }}"
            },
            {
              "fieldId": "payload",
              "fieldValue": "={{ JSON.stringify({ agent_name: $json.agent_name, agent_email: $json.agent_email, business_name: $json.business_name, coordinator_name: $json.coordinator_name, coordinator_email: $json.coordinator_email, contact_id: $json.contact_id, location_id: $json.location_id, channel: $json.channel, first_name: $json.first_name, last_name: $json.last_name, phone: $json.phone, email: $json.email }) }}"
            }
          ]
        }
      },
      "id": "bh-check-0003-0003-0003-000000000003",
      "name": "Queue Intro Message",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1200,
        624
      ],
      "credentials": "[REDACTED]"
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "contact_intake_queue",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "contact_id",
              "fieldValue": "={{ $('Merge Agent + Lead Data').first().json.contact_id }}"
            },
            {
              "fieldId": "location_id",
              "fieldValue": "={{ $('Merge Agent + Lead Data').first().json.location_id }}"
            },
            {
              "fieldId": "task_type",
              "fieldValue": "followup"
            },
            {
              "fieldId": "scheduled_for",
              "fieldValue": "={{ $now.plus({minutes: 60}).toUTC().toISO() }}"
            },
            {
              "fieldId": "payload",
              "fieldValue": "={{ JSON.stringify({ agent_name: $('Merge Agent + Lead Data').first().json.agent_name, agent_email: $('Merge Agent + Lead Data').first().json.agent_email, business_name: $('Merge Agent + Lead Data').first().json.business_name, coordinator_name: $('Merge Agent + Lead Data').first().json.coordinator_name, coordinator_email: $('Merge Agent + Lead Data').first().json.coordinator_email, contact_id: $('Merge Agent + Lead Data').first().json.contact_id, location_id: $('Merge Agent + Lead Data').first()\u2026[TRUNCATED]"
            }
          ]
        }
      },
      "id": "bh-check-0004-0004-0004-000000000004",
      "name": "Queue Follow-up SMS",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1648,
        416
      ],
      "credentials": "[REDACTED]"
    },
    {
      "id": "491d8de5-d881-41c9-840c-72c86d3db372",
      "name": "Fetch Agent Config (Pre-Insert)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        96,
        700
      ],
      "parameters": {
        "operation": "getAll",
        "tableId": "agents",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "location_id",
              "condition": "eq",
              "keyValue": "={{ $('Process Check Result').first().json.location_id }}"
            }
          ]
        }
      },
      "credentials": "[REDACTED]"
    },
    {
      "id": "81eb67f9-1350-4dc5-aae3-6fb31022b31b",
      "name": "Fetch Full GHL Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        700
      ],
      "parameters": {
        "method": "GET",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Process Check Result').first().json.contact_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "[REDACTED]",
              "value": "[REDACTED]"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      }
    },
    {
      "id": "efe9189b-437d-48de-bfde-dc9991bda811",
      "name": "Fetch GHL Contact Notes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        544,
        700
      ],
      "parameters": {
        "method": "GET",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Process Check Result').first().json.contact_id }}/notes",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "[REDACTED]",
              "value": "[REDACTED]"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      }
    },
    {
      "id": "73c06eba-e20a-4c73-b178-00f11f263f3e",
      "name": "Enrich Lead Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        700
      ],
      "parameters": {
        "jsCode": "[REDACTED]"
      }
    }
  ],
  "connections": {
    "GHL Intake Webhook": {
      "main": [
        [
          {
            "node": "Prepare Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Lead Data": {
      "main": [
        [
          {
            "node": "Check Lead Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Lead Exists": {
      "main": [
        [
          {
            "node": "Process Check Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Check Result": {
      "main": [
        [
          {
            "node": "Lead Already Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead Already Exists?": {
      "main": [
        [
          {
            "node": "Enrich Existing Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Agent Config (Pre-Insert)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Channel": {
      "main": [
        [
          {
            "node": "Send Intro SMS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Intro Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tag: No Contact Method",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert New Lead": {
      "main": [
        [
          {
            "node": "Get Agent Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Agent Config": {
      "main": [
        [
          {
            "node": "Merge Agent + Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Agent + Lead Data": {
      "main": [
        [
          {
            "node": "Business Hours Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Business Hours Check": {
      "main": [
        [
          {
            "node": "Within Business Hours?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Within Business Hours?": {
      "main": [
        [
          {
            "node": "Route by Channel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Queue Intro Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Intro Email": {
      "main": [
        [
          {
            "node": "Queue Follow-up SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Agent Config (Pre-Insert)": {
      "main": [
        [
          {
            "node": "Fetch Full GHL Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Full GHL Contact": {
      "main": [
        [
          {
            "node": "Fetch GHL Contact Notes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch GHL Contact Notes": {
      "main": [
        [
          {
            "node": "Enrich Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich Lead Data": {
      "main": [
        [
          {
            "node": "Insert New Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "IrqmItlifeBYhZkl"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "GHL Intake Webhook": [
      {
        "json": {
          "headers": {
            "host": "twodegreesnorth.tech",
            "user-agent": "axios/1.12.2",
            "content-length": "805",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "77.102.155.27",
            "x-forwarded-host": "twodegreesnorth.tech",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "2b117d088137",
            "x-ghl-secret": "[REDACTED]",
            "x-real-ip": "77.102.155.27"
          },
          "params": {},
          "query": {},
          "body": {
            "contact_id": "ZVxjCqRIVxERGHon0qHX",
            "first_name": "Sayeed",
            "last_name": "Sahdat",
            "full_name": "Sayeed Sahdat",
            "email": "hobaidjan@gmail.com",
            "phone": "+18337392123",
            "tags": "",
            "country": "US",
            "date_created": "2026-04-08T00:09:28.179Z",
            "full_address": "",
            "contact_type": "lead",
            "location": {
              "name": "Open House Boise LLC",
              "address": "1401 E MONA LISA DR",
              "city": "MERIDIAN",
              "state": "Idaho",
              "country": "US",
              "postalCode": "83642",
              "fullAddress": "1401 E MONA LISA DR, MERIDIAN Idaho 83642",
              "id": "kv1Af9i1qYK7KfIiT0U3"
            },
            "workflow": {
              "id": "9711e3e5-c30d-48ca-bc8e-b4a0551ce70d",
              "name": "01 - Contact Created -> Brain Engine"
            },
            "triggerData": {},
            "contact": {
              "attributionSource": {
                "sessionSource": "CRM UI",
                "medium": "manual",
                "mediumId": null
              },
              "lastAttributionSource": {}
            },
            "attributionSource": {},
            "customData": {
              "trigger": "contact_created"
            }
          },
          "webhookUrl": "https://twodegreesnorth.tech/webhook/intake-lead",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "f10bd42c-add5-4838-ac9f-e158dca59a23",
  "activeVersionId": "f10bd42c-add5-4838-ac9f-e158dca59a23",
  "versionCounter": 112,
  "triggerCount": 1,
  "tags": [
    {
      "updatedAt": "2026-04-06T15:34:04.053Z",
      "createdAt": "2026-04-06T15:34:04.053Z",
      "id": "Zr6Frn8AiF86oAXf",
      "name": "Luke Gilbert"
    }
  ],
  "shared": [
    {
      "updatedAt": "2026-04-06T16:23:54.248Z",
      "createdAt": "2026-04-06T16:23:54.248Z",
      "role": "workflow:owner",
      "workflowId": "57VOr1qmDwdO2mZj",
      "projectId": "QBxb6DqO3UDw1ydL",
      "project": {
        "updatedAt": "2026-02-20T18:20:49.143Z",
        "createdAt": "2026-02-20T16:49:08.408Z",
        "id": "QBxb6DqO3UDw1ydL",
        "name": "Luke Gilbert <media@twodegreesnorth.online>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "439d28b9-26b2-45de-9c84-ab62e3703788"
      }
    }
  ]
}