workflows/inactive/Altos_Image_Test__nyASXOhcHfffb959.json
{
  "updatedAt": "2026-04-15T00:08:16.809Z",
  "createdAt": "2026-04-09T18:26:02.933Z",
  "id": "nyASXOhcHfffb959",
  "name": "\ud83e\uddea Altos Image Test",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -200,
        0
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "altos-image-test",
        "responseMode": "onReceived",
        "responseData": "noData",
        "authentication": "headerAuth"
      },
      "credentials": "[REDACTED]"
    },
    {
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "Fetch Hash",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        60,
        0
      ],
      "parameters": {
        "jsCode": "const PAI = '690acaf9';\nconst FIPS = '16001';\n\nconst resp = await globalThis.fetch(`https://altos.re/api/v2/reports?[REDACTED_QUERY]\nconst data = await resp.json();\n\nif (!data.id) {\n  throw new Error('No hash returned from Altos: ' + JSON.stringify(data));\n}\n\nreturn [{ json: { hash: data.id, pai: PAI } }];"
      }
    },
    {
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "Fetch Share",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        -600
      ],
      "parameters": {
        "method": "GET",
        "url": "=https://altos.re/api/v2/share?[REDACTED_QUERY] $('Fetch Hash').first().json.hash }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-0004-0004-0004-000000000004",
      "name": "Upload Share",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        580,
        -600
      ],
      "parameters": {
        "method": "POST",
        "url": "https://kfoijgcbkjeizxxyiwxv.supabase.co/storage/v1/object/newsletter-images/altos-test/share.png",
        "authentication": "[REDACTED]",
        "nodeCredentialType": "[REDACTED]",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "image/png"
            },
            {
              "name": "x-upsert",
              "value": "true"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "credentials": "[REDACTED]"
    },
    {
      "id": "a1b2c3d4-0005-0005-0005-000000000005",
      "name": "Fetch Market Action",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        -300
      ],
      "parameters": {
        "method": "GET",
        "url": "=https://altos.re/api/v2/market-action?[REDACTED_QUERY] $('Fetch Hash').first().json.hash }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-0006-0006-0006-000000000006",
      "name": "Upload Market Action",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        580,
        -300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://kfoijgcbkjeizxxyiwxv.supabase.co/storage/v1/object/newsletter-images/altos-test/market-action.png",
        "authentication": "[REDACTED]",
        "nodeCredentialType": "[REDACTED]",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "image/png"
            },
            {
              "name": "x-upsert",
              "value": "true"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "credentials": "[REDACTED]"
    },
    {
      "id": "a1b2c3d4-0007-0007-0007-000000000007",
      "name": "Fetch Table",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        0
      ],
      "parameters": {
        "method": "GET",
        "url": "=https://altos.re/api/v2/table?[REDACTED_QUERY] $('Fetch Hash').first().json.hash }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-0008-0008-0008-000000000008",
      "name": "Upload Table",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        580,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "https://kfoijgcbkjeizxxyiwxv.supabase.co/storage/v1/object/newsletter-images/altos-test/table.png",
        "authentication": "[REDACTED]",
        "nodeCredentialType": "[REDACTED]",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "image/png"
            },
            {
              "name": "x-upsert",
              "value": "true"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "credentials": "[REDACTED]"
    },
    {
      "id": "a1b2c3d4-0009-0009-0009-000000000009",
      "name": "Fetch Chart Price",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "=https://altos.re/api/v2/charts?[REDACTED_QUERY] $('Fetch Hash').first().json.hash }}&data=median_price&title=true&size=large",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-0010-0010-0010-000000000010",
      "name": "Upload Chart Price",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        580,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://kfoijgcbkjeizxxyiwxv.supabase.co/storage/v1/object/newsletter-images/altos-test/chart-median-price.png",
        "authentication": "[REDACTED]",
        "nodeCredentialType": "[REDACTED]",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "image/png"
            },
            {
              "name": "x-upsert",
              "value": "true"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "credentials": "[REDACTED]"
    },
    {
      "id": "a1b2c3d4-0011-0011-0011-000000000011",
      "name": "Fetch Chart Advanced",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        600
      ],
      "parameters": {
        "method": "GET",
        "url": "=https://altos.re/api/v2/charts-advanced?[REDACTED_QUERY] $('Fetch Hash').first().json.hash }}&pai={{ $('Fetch Hash').first().json.pai }}&stats=price_median,dom_mean,inventory_total,mai&size=large",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-0012-0012-0012-000000000012",
      "name": "Upload Chart Advanced",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        580,
        600
      ],
      "parameters": {
        "method": "POST",
        "url": "https://kfoijgcbkjeizxxyiwxv.supabase.co/storage/v1/object/newsletter-images/altos-test/chart-advanced.png",
        "authentication": "[REDACTED]",
        "nodeCredentialType": "[REDACTED]",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "image/png"
            },
            {
              "name": "x-upsert",
              "value": "true"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "credentials": "[REDACTED]"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Fetch Hash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Hash": {
      "main": [
        [
          {
            "node": "Fetch Share",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Market Action",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Table",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Chart Price",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Chart Advanced",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Share": {
      "main": [
        [
          {
            "node": "Upload Share",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Market Action": {
      "main": [
        [
          {
            "node": "Upload Market Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Table": {
      "main": [
        [
          {
            "node": "Upload Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Chart Price": {
      "main": [
        [
          {
            "node": "Upload Chart Price",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Chart Advanced": {
      "main": [
        [
          {
            "node": "Upload Chart Advanced",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "1f382931-3388-44d1-91d7-87211a97910f",
  "activeVersionId": null,
  "versionCounter": 13,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-04-09T18:26:02.933Z",
      "createdAt": "2026-04-09T18:26:02.933Z",
      "role": "workflow:owner",
      "workflowId": "nyASXOhcHfffb959",
      "projectId": "QBxb6DqO3UDw1ydL",
      "project": {
        "updatedAt": "2026-02-20T18:20:49.143Z",
        "createdAt": "2026-02-20T16:49:08.408Z",
        "id": "QBxb6DqO3UDw1ydL",
        "name": "Luke Gilbert <media@twodegreesnorth.online>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "439d28b9-26b2-45de-9c84-ab62e3703788"
      }
    }
  ]
}