workflows/inactive/Contact_Intake_Queue_Processor__i3aF2rmEAZRJbKYp.json
{
  "updatedAt": "2026-04-27T19:38:20.960Z",
  "createdAt": "2026-04-08T16:31:09.442Z",
  "id": "i3aF2rmEAZRJbKYp",
  "name": "\u23f1\ufe0f Contact Intake Queue Processor",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "qp-0001-0001-0001-000000000001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1008,
        600
      ]
    },
    {
      "parameters": {
        "jsCode": "// Check if current time is within business hours for any agent\n// We use a general check here - queue items have their own scheduled_for\nconst now = $now;\nconst utcHour = now.hour;\n// We process the queue if it's between 6am-11pm UTC (covers all US timezones 9am-8pm)\nconst isProcessingWindow = utcHour >= 13 && utcHour <= 24 || utcHour >= 0 && utcHour <= 3;\nreturn [{ json: { should_process: true, checked_at: now.toISO() } }];"
      },
      "id": "qp-0002-0002-0002-000000000002",
      "name": "Business Hours Now?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -784,
        600
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "items-check",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "qp-0005-0005-0005-000000000005",
      "name": "Items to Process?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -336,
        600
      ]
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  let payload = item.json.payload;\n  if (typeof payload === 'string') {\n    payload = JSON.parse(payload);\n  }\n  return { json: { ...item.json, payload } };\n});"
      },
      "id": "qp-0007-0007-0007-000000000007",
      "name": "Parse Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        600
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "contact_intake_queue",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "processing"
            },
            {
              "fieldId": "attempts",
              "fieldValue": "={{ $json.attempts + 1 }}"
            }
          ]
        }
      },
      "id": "qp-0008-0008-0008-000000000008",
      "name": "Mark Processing",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -112,
        600
      ],
      "credentials": "[REDACTED]"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "intro-rule",
                    "leftValue": "={{ $('Parse Payload').item.json.task_type }}",
                    "rightValue": "intro",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "intro"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "followup-rule",
                    "leftValue": "={{ $('Parse Payload').item.json.task_type }}",
                    "rightValue": "followup",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "followup"
            }
          ]
        },
        "options": {}
      },
      "id": "qp-0009-0009-0009-000000000009",
      "name": "Route by Task Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1456,
        408
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "sms-rule",
                    "leftValue": "={{ $('Parse Payload').item.json.payload.channel }}",
                    "rightValue": "sms",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "sms"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "email-rule",
                    "leftValue": "={{ $('Parse Payload').item.json.payload.channel }}",
                    "rightValue": "email",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "email"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "none-rule",
                    "leftValue": "={{ $('Parse Payload').item.json.payload.channel }}",
                    "rightValue": "none",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "none"
            }
          ]
        },
        "options": {}
      },
      "id": "qp-0010-0010-0010-000000000010",
      "name": "Route by Channel",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1680,
        176
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/conversations/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "[REDACTED]",
              "value": "[REDACTED]"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"type\": \"SMS\", \"contactId\": \"{{ $('Parse Payload').item.json.payload.contact_id }}\", \"locationId\": \"{{ $('Parse Payload').item.json.payload.location_id }}\", \"message\": \"Hey {{ $('Parse Payload').item.json.payload.first_name }}, my name is {{ $('Parse Payload').item.json.payload.coordinator_name }} and I'm the newest member of {{ $('Parse Payload').item.json.payload.agent_name }}'s real estate team. My job is to make sure everybody we work with is getting the attention they need.\\n\\nFeel free \u2026[TRUNCATED]",
        "options": {}
      },
      "id": "qp-0011-0011-0011-000000000011",
      "name": "Send Intro SMS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1904,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/conversations/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "[REDACTED]",
              "value": "[REDACTED]"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"type\": \"Email\", \"contactId\": \"{{ $('Parse Payload').item.json.payload.contact_id }}\", \"locationId\": \"{{ $('Parse Payload').item.json.payload.location_id }}\", \"subject\": \"Quick intro from {{ $('Parse Payload').item.json.payload.coordinator_name }} - {{ $('Parse Payload').item.json.payload.agent_name }}'s team\", \"emailFrom\": \"{{ $('Parse Payload').item.json.payload.coordinator_name }} <{{ $('Parse Payload').item.json.payload.coordinator_email }}>\", \"html\": \"<p>Hi {{ $('Parse Payload').item.jso\u2026[TRUNCATED]",
        "options": {}
      },
      "id": "qp-0012-0012-0012-000000000012",
      "name": "Send Intro Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1904,
        192
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Parse Payload').item.json.payload.contact_id }}/tags",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "[REDACTED]",
              "value": "[REDACTED]"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"tags\": [\"no-contact-method\"] }",
        "options": {}
      },
      "id": "qp-0013-0013-0013-000000000013",
      "name": "Tag No Contact Method",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2128,
        384
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "contact_intake_queue",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Parse Payload').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "completed"
            },
            {
              "fieldId": "processed_at",
              "fieldValue": "={{ $now.toUTC().toISO() }}"
            }
          ]
        }
      },
      "id": "qp-0014-0014-0014-000000000014",
      "name": "Mark Intro Complete",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2352,
        144
      ],
      "credentials": "[REDACTED]"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "leads",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "contact_id",
              "condition": "eq",
              "keyValue": "={{ $json.payload.contact_id }}"
            }
          ]
        }
      },
      "id": "qp-0015-0015-0015-000000000015",
      "name": "Check Lead State",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1680,
        600
      ],
      "credentials": "[REDACTED]"
    },
    {
      "parameters": {
        "jsCode": "const parsedAll = $('Parse Payload').all();\n\nreturn $input.all().map((item, idx) => {\n  const lead = item.json;\n  const pairIdx = item.pairedItem?.item ?? idx;\n  const queueItem = (parsedAll[pairIdx] ?? parsedAll[0]).json;\n  const payload = queueItem.payload;\n\n  const hasReplied = lead.last_customer_message_at !== null && lead.last_customer_message_at !== undefined && lead.last_customer_message_at !== '';\n  const isOptedOut = lead.status === 'opted_out';\n  const isClosed = lead.status === 'close\u2026[TRUNCATED]"
      },
      "id": "qp-0016-0016-0016-000000000016",
      "name": "Should Send Followup?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1904,
        600
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "should-send",
              "leftValue": "={{ $json.shouldSend }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "qp-0017-0017-0017-000000000017",
      "name": "Followup SMS Gate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2128,
        600
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/conversations/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "[REDACTED]",
              "value": "[REDACTED]"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"type\": \"SMS\", \"contactId\": \"{{ $json.payload.contact_id }}\", \"locationId\": \"{{ $json.payload.location_id }}\", \"message\": \"Hey {{ $json.payload.first_name }}, this is {{ $json.payload.coordinator_name }} with {{ $json.payload.agent_name }}'s real estate team. Shot you an email just a few minutes ago, but wanted to follow up here in case you prefer a text. Let me know if you need anything!\" }",
        "options": {}
      },
      "id": "qp-0018-0018-0018-000000000018",
      "name": "Send SMS Follow-up",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2352,
        528
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "leads",
        "filters": {
          "conditions": [
            {
              "keyName": "contact_id",
              "condition": "eq",
              "keyValue": "={{ $('Parse Payload').item.json.payload.contact_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "channel",
              "fieldValue": "sms"
            }
          ]
        }
      },
      "id": "qp-0019-0019-0019-000000000019",
      "name": "Update Channel to SMS",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2800,
        528
      ],
      "credentials": "[REDACTED]"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "contact_intake_queue",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Parse Payload').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "completed"
            },
            {
              "fieldId": "processed_at",
              "fieldValue": "={{ $now.toUTC().toISO() }}"
            }
          ]
        }
      },
      "id": "qp-0020-0020-0020-000000000020",
      "name": "Mark Followup Complete",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3024,
        600
      ],
      "credentials": "[REDACTED]"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Recover stuck items (processing for >15 min)\nUPDATE contact_intake_queue \nSET status = 'pending' \nWHERE status = 'processing' \n  AND updated_at < NOW() - INTERVAL '15 minutes';\n\n-- Mark items with 5+ attempts as failed\nUPDATE contact_intake_queue \nSET status = 'failed' \nWHERE status = 'pending' \n  AND attempts >= 5;\n\n-- Fetch up to 50 PER AGENT (location_id), prevents one agent starving others\nWITH ranked AS (\n  SELECT *, ROW_NUMBER() OVER (PARTITION BY location_id ORDER BY scheduled_for ASC)\u2026[TRUNCATED]",
        "options": {}
      },
      "id": "qp-fetch-pg-0001-0001-000000000001",
      "name": "Fetch Pending Items",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -560,
        600
      ],
      "credentials": "[REDACTED]"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "agents",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "location_id",
              "condition": "eq",
              "keyValue": "={{ $json.payload.location_id }}"
            }
          ]
        }
      },
      "id": "qp-agent-config",
      "name": "Get Agent Config",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        336,
        600
      ],
      "credentials": "[REDACTED]"
    },
    {
      "parameters": {
        "jsCode": "const agent = $('Get Agent Config').first().json;\nconst tz = agent.timezone || 'America/Denver';\nconst now = $now.setZone(tz);\nconst hour = now.hour;\nconst weekday = now.weekday;\nconst withinHours = weekday < 6 && hour >= 9 && hour < 20;\n\nlet nextBusinessHourUtc = null;\nif (!withinHours) {\n  let t = now;\n  if (hour >= 20) t = t.plus({ days: 1 });\n  while (t.weekday >= 6) t = t.plus({ days: 1 });\n  t = t.set({ hour: 9, minute: 0, second: 0, millisecond: 0 });\n  nextBusinessHourUtc = t.toUTC().toI\u2026[TRUNCATED]"
      },
      "id": "e85ea190-3305-4549-a126-96f486fd69db",
      "name": "Check Agent Hours",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        600
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "within-hours-gate",
              "leftValue": "={{ $json.within_hours }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5f274b9e-3522-4405-99e3-2c5f519002a7",
      "name": "Within Agent Hours?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        784,
        600
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "contact_intake_queue",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Parse Payload').first().json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "pending"
            },
            {
              "fieldId": "scheduled_for",
              "fieldValue": "={{ $('Check Agent Hours').first().json.next_business_hour_utc }}"
            },
            {
              "fieldId": "attempts",
              "fieldValue": "={{ $('Parse Payload').first().json.attempts - 1 }}"
            }
          ]
        }
      },
      "id": "f8724b6f-d28b-4cf1-af1f-fc25f0fe1f7e",
      "name": "Re-queue for Later",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1008,
        696
      ],
      "credentials": "[REDACTED]"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT can_send, current_level, daily_cap, sent_today, remaining, reset_at, block_reason FROM check_sending_quota('{{ $('Get Agent Config').item.json.location_id }}'::text)",
        "options": {}
      },
      "id": "ee70c64e-2409-4cba-b3f9-759054194a63",
      "name": "Quota Gate",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1008,
        504
      ],
      "credentials": "[REDACTED]"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "quota-ok-check",
              "leftValue": "={{ $json.can_send }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c0273600-48d9-41fb-9348-d3c7c4d445bb",
      "name": "Quota OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1232,
        504
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "contact_intake_queue",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Parse Payload').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "pending"
            },
            {
              "fieldId": "scheduled_for",
              "fieldValue": "={{ $('Quota Gate').first().json.reset_at }}"
            },
            {
              "fieldId": "attempts",
              "fieldValue": "={{ Math.max(0, $('Parse Payload').item.json.attempts - 1) }}"
            }
          ]
        }
      },
      "id": "79e005a9-89b6-4bd2-a39b-c1caa2f68585",
      "name": "Re-queue Cap Hit",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1456,
        600
      ],
      "credentials": "[REDACTED]"
    },
    {
      "parameters": {
        "tableId": "message_log",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "contact_id",
              "fieldValue": "={{ $('Parse Payload').item.json.payload.contact_id }}"
            },
            {
              "fieldId": "location_id",
              "fieldValue": "={{ $('Parse Payload').item.json.payload.location_id }}"
            },
            {
              "fieldId": "direction",
              "fieldValue": "outbound"
            },
            {
              "fieldId": "channel",
              "fieldValue": "sms"
            },
            {
              "fieldId": "message_body",
              "fieldValue": "=Hey {{ $('Parse Payload').item.json.payload.first_name }}, this is {{ $('Parse Payload').item.json.payload.coordinator_name }} with {{ $('Parse Payload').item.json.payload.agent_name }}'s real estate team. Shot you an email just a few minutes ago, but wanted to follow up here in case you prefer a text. Let me know if you need anything!"
            },
            {
              "fieldId": "ghl_message_id",
              "fieldValue": "={{ $json.messageId }}"
            },
            {
              "fieldId": "ghl_conversation_id",
              "fieldValue": "={{ $json.conversationId }}"
            },
            {
              "fieldId": "ghl_accepted_at",
              "fieldValue": "={{ $now.toUTC().toISO() }}"
            },
            {
              "fieldId": "delivery_status",
              "fieldValue": "sent"
            },
            {
              "fieldId": "ai_processed",
              "fieldValue": "false"
            },
            {
              "fieldId": "timestamp",
              "fieldValue": "={{ $now.toUTC().toISO() }}"
            }
          ]
        }
      },
      "id": "2a44e3a3-14c1-4dbd-9667-e1cb1157744d",
      "name": "Log Followup SMS Sent",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2576,
        528
      ],
      "credentials": "[REDACTED]"
    },
    {
      "parameters": {
        "tableId": "message_log",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "contact_id",
              "fieldValue": "={{ $('Parse Payload').item.json.payload.contact_id }}"
            },
            {
              "fieldId": "location_id",
              "fieldValue": "={{ $('Parse Payload').item.json.payload.location_id }}"
            },
            {
              "fieldId": "direction",
              "fieldValue": "outbound"
            },
            {
              "fieldId": "channel",
              "fieldValue": "sms"
            },
            {
              "fieldId": "message_body",
              "fieldValue": "=Hey {{ $('Parse Payload').item.json.payload.first_name }}, my name is {{ $('Parse Payload').item.json.payload.coordinator_name }} and I'm the newest member of {{ $('Parse Payload').item.json.payload.agent_name }}'s real estate team."
            },
            {
              "fieldId": "ghl_message_id",
              "fieldValue": "={{ $json.messageId }}"
            },
            {
              "fieldId": "ghl_conversation_id",
              "fieldValue": "={{ $json.conversationId }}"
            },
            {
              "fieldId": "ghl_accepted_at",
              "fieldValue": "={{ $now.toUTC().toISO() }}"
            },
            {
              "fieldId": "delivery_status",
              "fieldValue": "sent"
            },
            {
              "fieldId": "ai_processed",
              "fieldValue": "false"
            },
            {
              "fieldId": "timestamp",
              "fieldValue": "={{ $now.toUTC().toISO() }}"
            }
          ]
        }
      },
      "id": "d3af6304-763c-4e0a-a071-f2a047a7be97",
      "name": "Log Intro SMS Sent",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2128,
        0
      ],
      "credentials": "[REDACTED]"
    },
    {
      "parameters": {
        "tableId": "message_log",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "contact_id",
              "fieldValue": "={{ $('Parse Payload').item.json.payload.contact_id }}"
            },
            {
              "fieldId": "location_id",
              "fieldValue": "={{ $('Parse Payload').item.json.payload.location_id }}"
            },
            {
              "fieldId": "direction",
              "fieldValue": "outbound"
            },
            {
              "fieldId": "channel",
              "fieldValue": "email"
            },
            {
              "fieldId": "message_body",
              "fieldValue": "=Intro email sent to {{ $('Parse Payload').item.json.payload.first_name }}"
            },
            {
              "fieldId": "ghl_message_id",
              "fieldValue": "={{ $json.messageId }}"
            },
            {
              "fieldId": "ghl_conversation_id",
              "fieldValue": "={{ $json.conversationId }}"
            },
            {
              "fieldId": "ghl_accepted_at",
              "fieldValue": "={{ $now.toUTC().toISO() }}"
            },
            {
              "fieldId": "delivery_status",
              "fieldValue": "sent"
            },
            {
              "fieldId": "ai_processed",
              "fieldValue": "false"
            },
            {
              "fieldId": "timestamp",
              "fieldValue": "={{ $now.toUTC().toISO() }}"
            }
          ]
        }
      },
      "id": "0937d6d8-812f-42ba-b385-51f1d603933e",
      "name": "Log Intro Email Sent",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2128,
        192
      ],
      "credentials": "[REDACTED]"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Business Hours Now?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Task Type": {
      "main": [
        [
          {
            "node": "Route by Channel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Lead State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Channel": {
      "main": [
        [
          {
            "node": "Send Intro SMS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Intro Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tag No Contact Method",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag No Contact Method": {
      "main": [
        [
          {
            "node": "Mark Intro Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Lead State": {
      "main": [
        [
          {
            "node": "Should Send Followup?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Send Followup?": {
      "main": [
        [
          {
            "node": "Followup SMS Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Followup SMS Gate": {
      "main": [
        [
          {
            "node": "Send SMS Follow-up",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Followup Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Channel to SMS": {
      "main": [
        [
          {
            "node": "Mark Followup Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Processing": {
      "main": [
        [
          {
            "node": "Parse Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Business Hours Now?": {
      "main": [
        [
          {
            "node": "Fetch Pending Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Pending Items": {
      "main": [
        [
          {
            "node": "Items to Process?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Items to Process?": {
      "main": [
        [
          {
            "node": "Mark Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Payload": {
      "main": [
        [
          {
            "node": "Get Agent Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Agent Config": {
      "main": [
        [
          {
            "node": "Check Agent Hours",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Agent Hours": {
      "main": [
        [
          {
            "node": "Within Agent Hours?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Within Agent Hours?": {
      "main": [
        [
          {
            "node": "Quota Gate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Re-queue for Later",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quota Gate": {
      "main": [
        [
          {
            "node": "Quota OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quota OK?": {
      "main": [
        [
          {
            "node": "Route by Task Type",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Re-queue Cap Hit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send SMS Follow-up": {
      "main": [
        [
          {
            "node": "Log Followup SMS Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Followup SMS Sent": {
      "main": [
        [
          {
            "node": "Update Channel to SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Intro SMS": {
      "main": [
        [
          {
            "node": "Log Intro SMS Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Intro SMS Sent": {
      "main": [
        [
          {
            "node": "Mark Intro Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Intro Email": {
      "main": [
        [
          {
            "node": "Log Intro Email Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Intro Email Sent": {
      "main": [
        [
          {
            "node": "Mark Intro Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "IrqmItlifeBYhZkl"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "978c62db-1148-4ca5-9ec1-3114c0d61a39",
  "activeVersionId": null,
  "versionCounter": 144,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-04-08T16:31:09.442Z",
      "createdAt": "2026-04-08T16:31:09.442Z",
      "role": "workflow:owner",
      "workflowId": "i3aF2rmEAZRJbKYp",
      "projectId": "QBxb6DqO3UDw1ydL",
      "project": {
        "updatedAt": "2026-02-20T18:20:49.143Z",
        "createdAt": "2026-02-20T16:49:08.408Z",
        "id": "QBxb6DqO3UDw1ydL",
        "name": "Luke Gilbert <media@twodegreesnorth.online>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "439d28b9-26b2-45de-9c84-ab62e3703788"
      }
    }
  ]
}